$button-color: #FE4D4A;
$flashcard-blue: #16A6B6;
$background-grey: #F5F5F5;
$title-color: #FB8D00;
$save-green: #8BD746;

button, input.button {
  background:$button-color;
  border: 2px solid darken($button-color,15%);
  cursor: pointer;
  color: #fff;
  width: 170px;
  height: 50px;
  margin-right:4px;
}

body, h1{
	margin-left: 100px;
	font-family: helvetica,arial,sans-serif;
	background: $background-grey;
	color: $title-color;
	margin-bottom: 40px;
}

h2 {
	text-align: left;
	font-size: 30pt;
}

#def-input, #word-input, #diff-input {
	margin-right: 4px;

}

#flashcard {
	background: $flashcard-blue;
	width: 344px;
	height: 250px;
	font-size: 25pt;
	text-align: center;
	color: white;
	text-vertical-align: middle;
}
input, select {
	height: 30px;
}

#easy, #medium, #hard {
	margin-right: 10px;
	margin-left: 20px;
}

.edit {
	width: 50px;
}

.save {
	width: 140px;
	background: $save-green;
	border: 2px solid darken($save-green,15%);
}


.flashcards {
	background: darken($background-grey,40%);
	color: white;
}

td, th {
	margin: 5px;
}

#toprow {
	font-size: 20pt;
}

table {
	display: table;
	border: 5px solid $title-color;
	border-collapse: separate;
}
